<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />

<h1 class="title">Restaurant Ingredient Inventory System</h1>

<form id="newIngredient" action="ingredients" method="POST">
  <h3>Add a New Ingredient</h3>
  Ingredient <br>
  <input type="text" name="name"><br>
  Price <br>
  <input type="number" step="any" min="0" name="price"><br>
  Stock <br>
  <input type="number" step="any" min="0" name="stock"><br>
  <input type="submit" value="Add Ingredient">
</form>
<div></div>

<div id ="results">
  <div id="list">
    <h1>Ingredient List:</h1>
    {{#each data}}
    <div class="body">
    <li>{{name}}:
     <ul>
       <li>Price: {{price}}</li>
       <li>Quantity: {{stock}}</li>
     </ul>
     <button name="bttn-sk-{{name}}">Change Stock</button>
     <button name="bttn-up-{{name}}">Update Item</button>
    </li>    
    </div>
    <br>
    {{/each}}
  </div>
</div>

